# Database files
*.db
*.sqlite
*.sqlite3

# Python
__pycache__/

# Environment variables
.env
.venv

# IDE
.vscode/
.idea/

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp

# Data directory
data/
categories.json